<div>
  <h4>Favourite List</h4>
  <ul *ngFor="let item of list">
    <li style="text-decoration: none;"><button (click)="removefavourite(item.id)">Remove</button>&nbsp;&nbsp;&nbsp;
      <a href="https://en.wikipedia.org/wiki?curid={{item.pageid}}" target="_blank">{{item.title}}</a> &nbsp;&nbsp;&nbsp;
      </li>
  </ul>  
</div>
<div class="container bootstrap snippets">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-content">  
            <div class="search-form">
              <form (submit)="onSubmit()">
                <div class="input-group">
                  <input [(ngModel)]="searchTerm" type="text" name="search" class="form-control input-lg rounded-pill" style="width: 50%;margin-left: 10px;">
                  <div class="input-group-btn ms-3"  style="float: left;">
                    <button class="btn btn-lg btn-primary">
                      Search
                    </button>
                  </div>
                </div>
              </form>
            </div>
  
            <div class="hr-line-dashed"></div>
            <div
              *ngFor="let result of results | paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalResults }"
              class="search-result mt-3">
              <a href="https://en.wikipedia.org/wiki?curid={{result.pageid}}"
                class="search-link">https://en.wikipedia.org/wiki?curid={{result.pageid}}</a>
  
              <h4>
                <button (click)="addFavourite('https://en.wikipedia.org/wiki?curid=',result)" style="float:left;">Add favourite</button>
              </h4>  
                <a href="https://en.wikipedia.org/wiki?curid={{result.pageid}}" style="margin-left: 10px;">{{result.title}}
                  </a>
               
              <p [innerHtml]="result.snippet">
              </p>
              <p>
              </p>
            </div>
  
            <!-- If result is less that 10, display none -->
            <div class="text-center" *ngIf="results.length > 10">
              <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>
  
  
          </div>
        </div>
      </div>
    </div>
  </div>